h1 {
   transition: 0.1s;
}

input {
   text-align: center;
}

a {
   color:greenyellow;
   cursor: pointer;
   padding: 1rem;
}

a:hover {
   color: yellow;
}

#submit {
   color: greenyellow;
}

#control {
   min-height: 100%;
   height: 90vh;
}

#box {
   border-color: black;
   border-width: 5px;
   border-style: groove;
   padding: 2em;
   background-color: #198754;
   color: greenyellow;
   transition: 0.5s;
   max-width: 600px;
}

#animationBox {
   color: greenyellow;
   transition: 0.5s;
   max-width: 75vh;
}

.navbar-dark {
   --bs-navbar-brand-color: greenyellow;
}

.navbar-nav {
   --bs-nav-link-color: greenyellow;
}


img {
   padding-right: 45px;
   border-width: 5px;
}

body {
   margin:0;
   background:url('/rogerAnimations/TempBackground.png');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center; 
   background-color:  #78a05a;
}

button {
   margin : 1em;
}