html {
   height: 100%;
}

body {
   min-height: 100vh;
}

input {
   text-align: center;
}

a {
   color:greenyellow;
   cursor: pointer;
   padding: 1rem;
}

a:hover {
   color: yellow;
}

#submit {
   color: greenyellow;
}

#login {
   border-color: black;
   border-width: 5px;
   border-style: groove;
   padding: 2em;
   background-color: #166032;
   color: greenyellow;
   transition: 0.5s;
   max-width: 540px;
}

.navbar-dark {
   --bs-navbar-brand-color: greenyellow;
}

.navbar-nav {
   --bs-nav-link-color: greenyellow;
}




