<%- include('partials/head') %> 

<% if (messages.error) {%>  <!--Flash sets messages variable, passport-config generates error-->
    <%= messages.error %> 
    <% } %> 
    
<div id="login" class="container align-items-center justify-content-center">
    <h1 class="text-center">Login</h1>
    <form class="form-group text-center">
        <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
        <a id="passwordForget" href="/passForgot">Forgot password?</a>
        <br>
        <a id="register" href="/register">Register</a>
        <br>
        <br>
        <button id="submit" type="submit" class="btn btn-success" >Submit</button>
    </form>
</div>

<%- include('partials/footer') %> 