<%- include('partials/head') %> 

<div id="login" class="container align-items-center justify-content-center">
    <h1 class="text-center">Account Registration</h1>
        <form class="form-group text-center">
            <div class="mb-2">
                <label for="firstName" class="form-label">First Name</label>
                <input type="text" class="form-control" id="firstName">
            </div>
            <div class="mb-2">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName">
            </div>
            <div class="mb-2">
                <label for="email" class="form-label">Email Address</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="mb-2">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="mb-2">
                <label for="passwordConfirm" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="passwordConfirm">
            </div>
            <button id="submit" type="submit" class="btn btn-success">Submit</button>
        </form>
</div>

<%- include('partials/footer') %>